  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shadows+Into+Light&family=Ysabeau+SC:wght@300&family=Zeyada&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  /* min-height: 100%; */
  background-image: url("https://png.pngtree.com/background/20230403/original/pngtree-city-%E2%80%8B%E2%80%8Bneon-light-background-picture-image_2264817.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: thin 100;

}

a {
  /* font-weight: 500; */
  
  color: white;
  text-decoration: inherit;
  display: flex;
  justify-content: center;
}

a:hover {
  color: rgb(217, 71, 120)}

p {
  display: inline;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

h2, h4 {
  font-family: 'Roboto', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Ysabeau SC', sans-serif;
  font-family: 'Zeyada', cursive;
  text-shadow: inset 2px 2px 3px #1a041f;
}


img {
  display: flex;
  width: 50%;
  height: 50%;
  align-self: center;
  justify-content: center;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0px 20px 35px 12px #1a041f;

}




.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  margin: 3% 10%;

}

.event {
  backdrop-filter: blur(8px);
  background-color: transparent ;
  padding: 20px 15px;
  border-radius: 10px;

}

.searchResults {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  align-self: center;

  backdrop-filter: blur(8px);
  background-color: #4547484d;
  margin: 20px;
  border-radius: 20px;
  padding: 20px 50px;
  /* margin: auto; */
  margin-right: 100px;
  margin-left: 100px;
}

div .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: auto;
  width: 50%;
  height: 50%;
  backdrop-filter: blur(50px);
  background-color: #3b0e4522;

  
}

.searchDetails { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;

  backdrop-filter: blur(8px);
  background-color: #4547484d;
  margin: 20px;
  border-radius: 20px;
  margin-right: 100px;
  margin-left: 100px;

}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;

  backdrop-filter: blur(8px);
  background-color: #4547484d;
  margin: 20px;
  border-radius: 20px;
}


.hideDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.userCmt {
  backdrop-filter: blur(0px);
  background-color: #4547484d ;
  padding: 20px 45px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 55px 5px #18011d61;
  margin: 10px;
}

.CRUD {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-evenly;
}

.cmtSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchRD {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
  height: fit-content;

}

.searchimg {
  width: 50%;
  height: 50%;
  border-radius: 12px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  backdrop-filter: blur(0px);
  background-color: rgba(30, 29, 29, 0.384);
  border-radius: 5px;
  color: white;
  box-shadow: inset 5px 5px 35px 5px #18011d61;
  border-color: rgb(197, 91, 246);
  width: 100%;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.415); 
}

.search {
width: 50%;

}

textarea {
  backdrop-filter: blur(0px);
  background-color: rgba(30, 29, 29, 0.384);
  border-radius: 5px;
  color: white;
  box-shadow: inset 5px 5px 35px 5px #18011d61;
  border-color: rgb(197, 91, 246);
  width: 100%;
  height: 100px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.415); 
  font-style: inherit;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;}

.spotify {
  background-color: #282828;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  border-radius: 90px;
  margin-bottom: 100px;


}

.hmeSpotify {
  backdrop-filter: blur(10px);
  /* background: #282828; */
  /* margin: 100px; */
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 10px;

}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;

}
  
div .auth {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

button {
  border-radius: 5px; 
  backdrop-filter: blur(10px);
  background-color: transparent;
  padding: 5px 10px;
  /* opacity: .9; */
  color: #fff;
  border: none;
  cursor: pointer;
  transition: border-color 0.25s;
  border-style: solid;
  border-color: palevioletred;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

}

button:hover {
  color: rgb(217, 71, 120);
    opacity: 90%;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.auth {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth button {
  /* margin: 5px; */
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.auth button:hover {
  background-color: #555;
}

form {
  display: flex;
  justify-content: center;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */



@media screen and (max-width: 375px) {
  .left, .main, .right {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .left, .main, .right {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .left, .main, .right {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
  }
}