:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  min-height: 100%;
  background-image: url("https://png.pngtree.com/background/20230403/original/pngtree-city-%E2%80%8B%E2%80%8Bneon-light-background-picture-image_2264817.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: thin 100;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  display: flex;
  justify-content: center;
}
a:hover {
  color: #535bf2;
}

p {
  display: inline;
}
body {
  display: flex;
  color: white;
  position: center;

}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  display: flex;
  height: auto;  
  width: 100%;
  align-self: center;
  justify-content: center;
  object-fit: contain;
  border-radius: 10px;


}

div .homepage {
  margin: 10px 400px;
}
.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.event-info {
  width: 50%;
}

.event-details {
  width: 30%; 
  background-color: #f5f5f5;  
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event {
  backdrop-filter: blur(8px);
  background-color: #4547484d;
  padding: 20px 45px;
  border-radius: 10px;
}

.searchResults {
  backdrop-filter: blur(8px);
  background-color: #4547484d;
  /* padding: 20px; */
  border-radius: 10px;
  margin: 20px;

  /* height: auto;  
  width: 100%; */
  align-self: center;
  justify-content: center;
  object-fit: contain;
}

.searchimg {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 50%;
}

.spotify {
  /* background: #282828; */
  /* margin: 100px; */
  /* padding: 20px 45px; */
  display: flex;
  justify-content: center;

}
  
div .auth {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.auth {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.auth button:hover {
  background-color: #555;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media screen and (max-width: 375px) {
  .left, .main, .right {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .left, .main, .right {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .left, .main, .right {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
  }
}